@using System
@using System.Collections.Generic
@using DbCoreLibrary.DbServiceModel
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.EntityFrameworkCore.ValueGeneration.Internal
@model System.Collections.Generic.List<DbCoreLibrary.SerialFileDto>


@{
    ViewData["Title"] = "Download";
}

<h2>Download</h2>

@using (Html.BeginForm("Download", "SerialFile", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Select</p>
                </th>
                <th>
                    Name
                </th>
                <th>
                    Extension
                </th>
                <th>
                    <p>Actions</p>
                </th>
                <th>
                    <p>Download format</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox" id="@Model[i].Id" value="" attr-id="@Model[i].Id">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Extension)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@Model[i].Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@Model[i].Id">Delete</a>
                    </td>
                    <td>
                        @Html.DropDownList("DownloadExtension[" + Model[i].Id + "]",
                        Html.GetEnumSelectList<DbCoreLibrary.FileExtEnum>
    (),
    "Select Extension",new { @class = "form-control" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-action="Download">
        <input type="hidden" name="Ids" id="Ids" />
        <input type="hidden" name="Extensions" id="Extensions" />
        <input type="submit" value="Download selected files" class="btn btn-primary" id="downloadBtn" />
    </form>

    @section Scripts {
        <script>
            $("#downloadBtn").click(function () {
                var checkedList = $(".checkbox:checked");
                var idsInput = $("#Ids");
                var extensionsInput = $("#Extensions");
                var ids = [];
                var extensions = [];
                checkedList.each(function (index) {
                    var id = $(this).attr('attr-id')
                    ids[ids.length] = id;
                    extensions[extensions.length] = $("#DownloadExtension_" + id + "_").val();
                });

                idsInput.val(ids.join(', '));
                extensionsInput.val(extensions.join(', '));
            });
        </script>
    }}
